body{
    height:100vh;
    background-color: rgb(26, 6, 29);
    overflow: hidden;
    width: 100vw;

    display:flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    margin: 0px;
}

main{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 15px;
    justify-content: center;
    margin-top: 50px;
}

#wrapper{
    height: 500px;
    width: 100vw;
}

/* användarna */
#listOfUsers{
    background-color:rgb(216, 173, 240);
    margin-left: 5%;
    overflow-y:auto;
    width: 350px;
    height: 750px;
}

.oneUser{
    margin: 5px;
    padding: 15px;
    border: 1px solid rgba(109, 70, 114, 0.233);
    border-radius: 5px;
}

.oneUser:hover{
    background-color:rgba(179, 117, 190, 0.753);
}

.userSelected{
    background-color:rgba(126, 80, 133, 0.808);
    color:white;
}

/* målningarna */
#listOfPaintings{
    background-color:rgb(63, 40, 66);
    height: 700px;
    overflow-y:scroll;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 95%;
    justify-content: center;
}

.onePainting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 30px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.219);
    margin: 10px; 
    border-radius: 8px;
    width: 180px;
    height: 180px;
    transition: opacity 1s;
    box-shadow: 1px 1px 10px black;
}

.onePainting img{
    max-width: 100%;
    max-height: 60%;
    margin: auto;
}

.onePainting p{
    margin-bottom: 0px;
    color: white;
    text-shadow: 1px 1px 10px black;
}

.paintingText{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    text-align: center;
}

button{
    position:relative;
    top:11px;
    padding:5px;
}

.selected{
    background-color: rgb(133, 79, 143);
    color:white;
}

.favorited{
    border: 10px solid rgb(141, 174, 235);
}

.sameFavorite{
    border: 10px solid rgb(228, 156, 186);
    z-index: 10;
}

.showUpDiv{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

#userName{
    height: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

#ultraMegaFav{background-color:  rgb(141, 174, 235);}
#gemensamFav{background-color: rgb(228, 156, 186);}
.cirkel{width: 30px; height: 30px; border-radius: 100%; margin: 10px 0px 10px 0px;}

#userName p{
    color: white;
    margin: 15px 0px 10px 0px;
}

/* LADDDNINNNGGGG */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

.darkDiv{
    position: absolute;
    top: 0px;
    left:0px;
    width: 250px;
    background-color: black;
}

#listOfPaintings .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#listOfUsers .lds-dual-ring{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50px;
}

