body{
    height:100vh;
    background-color: rgb(140, 140, 228);
    overflow-y: hidden;
}

main{
    display:flex;
    flex-direction: row;
    margin: 10px;
    height: 100vh;
}

/* användarna */
#listOfUsers{
    background-color:rgb(220, 182, 241);
    margin: 3px;
    overflow-y:scroll;
    width: 250px;
    height: 100vh;
}

.oneUser{
    margin: 5px;
    padding: 3px;
    border: 1px solid rgba(63, 40, 66, 0.233);
}
.oneUser:hover{
    background-color:rgba(71, 46, 75, 0.13);
}

.userSelected{
    background-color:rgba(63, 40, 66, 0.233);
    color:white;
}

/* målningarna */
#listOfPaintings{
    background-color:rgb(63, 40, 66);
    height: 100vh;
    overflow-y:scroll;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 70vw;
}

.onePainting{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    margin: 15px;
}

.onePainting > img{
    width: 180px;
}

.paintingText{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add{
    position:relative;
    top:11px;
}

.remove{
    position:relative;
    top:11px;
}

.selected{
    background-color: rgb(117, 47, 155);
    color:white;
}

.favorited{

}

.sameFavorite{

}

/* LADDDNINNNGGGG */

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 10vw;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

#listOfUsers .darkDiv{
    position: absolute;
    top: 0px;
    left:0px;
    width: 250px;
    background-color: black;
}

#listOfPaintings .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
}
